body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-work-sans: "Work Sans";
    --font-inter: Inter;

    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
    --font-size-lgi: 19px;
    --font-size-29xl: 48px;
    --font-size-10xl: 29px;
    --font-size-19xl: 38px;
    --font-size-mini: 15px;
    --font-size-45xl: 64px;
    --font-size-32xl: 51px;
    --font-size-xs: 12px;
    --font-size-7xl: 26px;
    --font-size-sm: 14px;

    /* Colors */
    --color-white: #fff;
    --color-gray-100: #13250e;
    --color-gray-200: rgba(0, 0, 0, 0.3);
    --color-gray-300: rgba(0, 0, 0, 0.15);
    --color-gray-400: rgba(0, 0, 0, 0.6);
    --color-gray-500: rgba(0, 0, 0, 0.1);
    --color-gray-600: rgba(0, 0, 0, 0.5);
    --color-olivedrab: #61a146;
    --color-forestgreen: #47872e;
    --color-black: #000;
    --color-darkolivegreen: #3d692c;
    --color-crimson: #e01e5a;

    /* Gaps */
    --gap-xl: 20px;
    --gap-7xl: 26px;
    --gap-21xl: 40px;
    --gap-0: 0px;
    --gap-30xl: 49px;
    --gap-127xl: 146px;
    --gap-3xs: 10px;
    --gap-26xl: 45px;
    --gap-15xl: 34px;
    --gap-114xl: 133px;
    --gap-47xl: 66px;
    --gap-27xl: 46px;
    --gap-125xl: 144px;
    --gap-4xs: 9px;
    --gap-7xs: 6px;
    --gap-247xl: 266px;
    --gap-33xl: 52px;
    --gap-41xl: 60px;
    --gap-16xl: 35px;
    --gap-mini: 15px;
    --gap-lg: 18px;
    --gap-8xs: 5px;
    --gap-11xl: 30px;
    --gap-19xl: 38px;
    --gap-97xl: 116px;
    --gap-34xl: 53px;
    --gap-29xl: 48px;
    --gap-xs: 12px;

    /* Paddings */
    --padding-87xl: 106px;
    --padding-124xl: 143px;
    --padding-88xl: 107px;
    --padding-126xl: 145px;
    --padding-xl: 20px;
    --padding-50xl: 69px;
    --padding-51xl: 70px;
    --padding-53xl: 72px;
    --padding-52xl: 71px;
    --padding-12xs: 1px;
    --padding-11xs: 2px;
    --padding-xs: 12px;
    --padding-3xs: 10px;
    --padding-21xl: 40px;
    --padding-4xs: 9px;
    --padding-20xl: 39px;
    --padding-42xl: 61px;
    --padding-75xl: 94px;
    --padding-41xl: 60px;
    --padding-38xl: 57px;
    --padding-40xl: 59px;
    --padding-10xl: 29px;
    --padding-9xl: 28px;
    --padding-lg: 18px;
    --padding-7xs: 6px;
    --padding-sm: 14px;
    --padding-smi: 13px;
    --padding-5xl: 24px;
    --padding-2xs: 11px;
    --padding-26xl: 45px;
    --padding-mid: 17px;
    --padding-12xl: 31px;
    --padding-6xl: 25px;
    --padding-mini: 15px;
    --padding-lgi: 19px;
    --padding-18xl: 37px;
    --padding-2xl: 21px;
    --padding-80xl: 99px;
    --padding-28xl: 47px;
    --padding-11xl: 30px;
    --padding-16xl: 35px;
    --padding-9xs: 4px;
    --padding-7xl: 26px;
    --padding-10xs: 3px;
    --padding-13xl: 32px;
    --padding-146xl: 165px;
    --padding-135xl: 154px;
    --padding-134xl: 153px;
    --padding-81xl: 100px;
    --padding-156xl: 175px;
    --padding-95xl: 114px;
    --padding-32xl: 51px;
    --padding-22xl: 41px;
    --padding-19xl: 38px;
    --padding-5xs: 8px;
    --padding-3xl: 22px;
    --padding-8xs: 5px;

    /* Border radiuses */
    --br-21xl: 40px;
    --br-7xs: 6px;
    --br-5xs: 8px;
    --br-81xl: 100px;
    --br-xs: 12px;
    --br-8xs: 5px;
    --br-base: 16px;
}

.social-media-icons-follow {
    display: flex;
}

.social-media-icons-follow a:hover {
    text-decoration: none;
}

.icon-container {
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
}

.icon-container:hover {
    background-color: #61a146;
    color: #ffffff;
    transition: 0.3s;
}

.whatsapp-contact-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.whatsapp-contact-text::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s;
}

.whatsapp-contact-text:hover {
    color: #61a146;
    text-decoration: none !important;
}

.whatsapp-contact-text:hover::after {
    width: 100%;
    background-color: #61a146;
}

.envolope-contact-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.envolope-contact-text::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s;
}

.envolope-contact-text:hover {
    color: #61a146;
    text-decoration: none !important;
}

.envolope-contact-text:hover::after {
    width: 100%;
    background-color: #61a146;
}

.address-detail-text p {
    font-size: 16px !important;
    text-align: justify;
    font-weight: 700;
}

.follow-us a {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.follow-us .active {
    color: #000000;
}

.follow-us a:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.person-info {
    width: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5px;
}

.top-link {
    display: flex;
    color: #ffffff;
    align-items: center;
    gap: 0 10px;
    transition: 0.3s;
}

.top-link:hover {
    color: #61a146;
    text-decoration: none;
}

.alert-width {
    width: 100%;
    text-align: center;
}

.btn-logout {
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-work-sans);
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
}

.btn-logout:hover {
    color: #ffffff;
    text-decoration: underline;
}

.welcome-user {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.day-label,
.testimonials-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5px;
}
.day-label {
    gap: 0 35px;
    max-width: 100%;
}

.day-label-parent {
    align-self: stretch;
    background-color: var(--color-gray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-smi) var(--padding-20xl) var(--padding-sm);
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
}

.follow-us {
    width: 427px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 0;
    box-sizing: border-box;
    gap: 0 50px;
    max-width: 100%;
}

.home1 {
    color: var(--color-black);
}
.home1,
.rooms {
    position: relative;
    font-weight: 500;
}
.about-us {
    white-space: nowrap;
}
.about-us,
.contact {
    position: relative;
    font-weight: 500;
}

.sierra-hotel-logo2 {
    position: relative;
    font-weight: 500;
}
.s-i-e-r-r-a-logo {
    background-color: var(--color-olivedrab);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-21xl) var(--padding-4xs)
        var(--padding-20xl);
    white-space: nowrap;
}

.contact-parent,
.next-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.contact-parent {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background-color: var(--color-olivedrab);
    border-radius: var(--br-81xl);
    justify-content: center;
    white-space: nowrap;
}
.next-button {
    width: 192px;
    justify-content: flex-start;
    gap: 0 33px;
}

.book-now {
    position: relative;
    font-size: var(--font-size-base);
    font-weight: 600;
    font-family: var(--font-work-sans);
    color: var(--color-white);
    text-align: left;
}

.address-section:hover,
.bed-services-frame:hover,
.contact-parent:hover,
.king-beds-frame2:hover {
    background-color: var(--color-forestgreen);
}
